img {
    text-align: left;
    width: 42%;
    height: 750px;
    background-color:white;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}
		.pink-back {
			background-color: #ffe4f6;
		}
		.discord {
			position: fixed;
			bottom: 305;
			left: 265;
			align: right;
			height: 200px;
			width: 100px;
			border-width: 3px;
			border-type: solid;
			border-radius: 5px;
			}
		.navbar-2 {
			font-family: 'Great Vibes', cursive;
			margin-bottom: 5px;
			color: #250030;
		}
		.li a {
			border-radius: 5px;
			display: block;
			padding: 8px;
			background-color: #d296b6;
			font-family: 'Great Vibes', cursive;
			font-weight: 600;
		}
		.li {
				float: left;
		}
		.ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
		}
		.navbar-text {
			font-size: 40px;
			margin-left: 10px;
			margin-top: 7px;
			font-family: 'Great Vibes', cursive;
			color: #250030;
		}
		.navbar-text2 {
			font-size: 30px;
			margin-left:10px;
			margin-top: 5px;
			font-family: 'Great Vibes', cursive;
		}
		#navbar {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			margin-top: 0px;
			padding-top: 5px;
			box-shadow: 0 5px 10px #bc8ba4;
			background-color: #d296b6;
		}
		.box {
			background-color: #ffe4f6;
		}
		h1 {
			font-size: 50px;
			font-family: 'Great Vibes', cursive;
			text-align: center;
		}
		h2 {
			background-color: #ffe4f6;
			text-align: center;
			font-family: 'Roboto', sans-serif;
		}
		h3 {
			background-color: #ffe4f6;
			text-align: center;
			font-family: 'Roboto', sans-serif; 
			font-size: 25px;
			margin-left: 300px;
		}
		h4 {
			background-color: #ffe4f6;
			text-align: center;
			font-family: 'Roboto', sans-serif;
			font-size: 20px;
			font-weight: 200;
			margin-left: 300px;
			padding-bottom: 20px;
		}