@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital@0;1&family=Press+Start+2P&family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Forum&family=Kanit:wght@300&family=Playball&family=Silkscreen&display=swap');

/* 
font-family: 'Cormorant Garamond', serif;
font-family: 'Forum', cursive;
font-family: 'Kanit', sans-serif;
font-family: 'Playball', cursive;
font-family: 'Silkscreen', cursive;
font-family: 'Ibarra Real Nova', serif; 
font-family: 'Press Start 2P', cursive;
font-family: 'Source Code Pro', monospace;
*/

body {
    position: relative;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0px solid black;
    background: linear-gradient(90deg, rgb(221, 190, 228), rgb(160, 120, 162));
}
hr {
    border: 1px solid black;
}
span {
    color: transparent;
}

#grid {
    z-index: 1;
    gap: 0px;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px; padding: 0px;
    border: 0px solid black;
}

.main-and-links {
    width: 45%;
    gap: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px; padding: 0px;
    border: 0px solid black;
}

#main {
    gap: 10px;
    width: 65%;
    display: flex;
    opacity: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0px; padding: 0px;
    border: 0px solid black;
    border-radius: 50px 0px 50px 0px;
    box-shadow: 0 5px 15px rgb(132, 108, 145);
    background: linear-gradient(rgb(254, 203, 237), rgb(230, 174, 211))
}

#navBar {
    gap: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0; left: 0;
    z-index: 2;
    flex-wrap: wrap;
    justify-content: center;
}
.navLinks {
    margin: 10px;
    padding: 5px;
    padding: 0px;
    font-size: 25px;
    margin-top: 15px;
    font-style: italic;
    font-weight: 600;
    text-decoration: none;
    color: rgb(43, 26, 41);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navLinks:hover {
    color: rgb(105, 54, 89);
}

.linkClass {
    width: 4%;
    margin: 30px;
    border-radius: 20px;
    border: 0px solid purple;
}
.linkClass:hover {
    box-shadow: 0 5px 15px rgb(146, 122, 160);
}
img {
    border-radius: 20px;
}

/* Media query format:
    @media(max-or-min-width: size) {
        code
     } */


.yt-container {
    text-align: left;
}
.video-lbl {
    font-weight: 600;
    font-size: 25px;
    font-family: 'Cormorant Garamond', serif;
}

/* Desktop */
@media (min-width: 999px) { /* width >= 1000px */
    body {
        height: 700px;
    }
    #main {
        width: 65%;
    }
    #intro {
        padding: 0px;
        font-size: 25px;
    }
    .linkClass {
        width: 4%;
    }
}

/* Tablet */
@media (min-width: 600px) and (max-width: 999px) { /* 1000px > width >= 600px */
    body {
        height: 850px;
    }
    #main {
        width: 75%;
    }
    #grid {
        gap: 75px;
        align-items: center;
        flex-direction: column;
    }
    #intro {
        padding: 15px;
        font-size: 25px;
    }
    .linkClass {
        width: 13%;
        font-size: 30px;
        margin-top: 65px;
    }
    .navLinks {
        padding: 0px;
        margin: 0px;
        font-size: 30px;
    }

    .main-and-links {
        width: 70%;
    }
}

/* Phone */
@media (max-height: 675px) { /* height <= 675px */
    body {
        height: 625px;
    }
    #main {
        width: 45%;
        padding: 50px;
    }
    #intro {
        padding: 0px;
        font-size: 14px;
    }
    #para {
        font-size: 9px;
    }
    .navLinks {
        font-size: 12px;
    }
    .linkClass {
        width: 25%;
        margin: 10px;
        margin-top: 25px;
    }
    #youtube-video {
        width: 310px;
        height: 180px;
    }
}

@media (min-height: 725px) and (max-width: 710px) { /* height >= 725px & width <= 710px*/
    body {
        height: 720px;
    }
    #main {
        width: 50%;
    }
    #intro {
        padding: 0px;
        font-size: 18px;
    }
    #para {
        font-size: 11px;
    }
    .navLinks {
        margin: 0px;
        font-size: 12px;
    }
    .linkClass {
        width: 15%;
        margin: 10px;
        margin-top: 35px;
    }
}