
/* 
font-family: 'Anton', sans-serif;
font-family: 'Libre Barcode 39', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Shizuru', cursive;
font-family: 'Source Code Pro', monospace;
font-family: 'Syne Mono', monospace; */


/* sayori */
#sayori-nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 10px;
    justify-content: space-around;
    z-index: 101;
}
#nav-item {
    padding: 10px;
    font-size: 23px;
    font-weight: 900;
    font-family: 'Red Hat Display', sans-serif;
    text-decoration: none;
}

#sayori-body {
    background-color: rgb(165, 42, 73);
    animation-name: sayori;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

a {
    color: black;
}
a:hover {
    color: rgb(207, 39, 39);
}

#gif {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

/* naked */
#naked-body {
    background-color: beige;
}

#image {
    position: relative;
    padding: 20px 50px;
    left: 50px;
}

/* gggggggg */
#g-body {
    background-color: greenyellow;
    animation-name: poop;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
#poop {
    padding: 50px;
}

#link-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#glink {
    position: fixed;
    top: 50px;
    right: 730px;
    font-family: 'Syne Mono', monospace;
}

#click-me {
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: center;
}

/* click ids */
#click {
    margin-top: 350px;
    margin-left: 650px;
    font-size: 10px;
    font-family: 'Syne Mono', monospace;
}
#click2 {
    margin-top: 350px;
    margin-left: 650px;
    font-size: 20px;
    font-family: 'Syne Mono', monospace;
}
#click3 {
    margin-top: 350px;
    margin-left: 650px;
    font-size: 30px;
    font-family: 'Syne Mono', monospace;
}
#click4 {
    margin-top: 350px;
    margin-left: 650px;
    font-size: 40px;
    font-family: 'Syne Mono', monospace;
}
#click5 {
    margin-top: 350px;
    margin-left: 650px;
    font-size: 50px;
    font-family: 'Syne Mono', monospace;
}
#click6 {
    margin-top: 350px;
    margin-left: 650px;
    font-size: 60px;
    font-family: 'Syne Mono', monospace;
}
#click7 {
    margin-top: 350px;
    margin-left: 650px;
    font-size: 70px;
    font-family: 'Syne Mono', monospace;
}
#click8 {
    margin-top: 350px;
    margin-left: 650px;
    font-size: 80px;
    font-family: 'Syne Mono', monospace;
}
#click9 {
    margin-top: 350px;
    margin-left: 650px;
    font-size: 90px;
    font-family: 'Syne Mono', monospace;
}

/* click bodys */
#click-body {
    background-color: rgb(0, 255, 0);
    animation-name: click;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
#click-body2 {
    background-color: rgb(0, 255, 0);
    animation-name: click2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
#click-body3 {
    background-color: rgb(0, 255, 0);
    animation-name: click3;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
#click-body4 {
    background-color: rgb(0, 255, 0);
    animation-name: click4;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
#click-body5 {
    background-color: rgb(0, 255, 0);
    animation-name: click5;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
#click-body6 {
    background-color: rgb(0, 255, 0);
    animation-name: click6;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
#click-body7 {
    background-color: rgb(0, 255, 0);
    animation-name: click7;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
#click-body8 {
    background-color: rgb(0, 255, 0);
    animation-name: click8;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
#click-body9 {
    background-color: rgb(0, 255, 0);
    animation-name: click9;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* projects */

#projects-body {
    gap: 25px;
    top: 0px;
    left: 0px;
    height: 100%;
    padding: 0px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    border: 0px solid black;
    background-color: rgb(155, 173, 199);
}
.proj-block {
    top: 35px;
    width: 90%;
    left: 5%;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: start;
    position: relative;
    flex-direction: column;
    border: 0px solid black;
    font-family: 'Press Start 2P', cursive;
}
.cap {
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    margin-top: 0px;
    font-size: 16px;
    font-weight: 700;
    color: rgb(40, 18, 77);
    position: relative;
    text-decoration: none;
    border: 0px solid black;
    font-family: 'Source Code Pro', monospace;
}
.cap:hover {
    color: rgb(99, 44, 161);
}

.proj-ss {
    position: relative;
    width: 300px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.proj-title {
    position: relative;
    margin: 0px;
    padding: 0px;
    font-size: 17px;
    border: 0px solid black;
}

#projects-nav {
    gap: 10%;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0px;
    z-index: 99;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    font-weight: 600;
    font-style: italic;
    flex-direction: row;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.proj-nav-item {
    padding: 20px;
    font-size: 25px;
    color: black;
    z-index: 101;
    text-decoration: none;

}
.proj-nav-item:hover {
    color: rgb(46, 49, 80);
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
    .proj-nav-item, .proj-title, .cap {
        color: rgb(243, 210, 255);
    }
}

.signin {
    color: black;
}


/* Sign Up/In */

input {
    background-color: rgb(218, 132, 101);
    border: 0px;
    border-bottom: 2px solid black;
    border-radius: 0px;
}
input::placeholder {
    color: rgb(48, 48, 48);
    font-size: 20px;
    padding: 5px;
}

/* animations */

@keyframes sayori {
    0% {
        background-color: rgb(165, 42, 73);
    }
    19% {
        background-color: rgb(165, 42, 73);
    }
    20% {
        background-color: rgb(255, 218, 193);
    }
    21% {
        background-color: rgb(165, 42, 73);
    }
    29% {
        background-color: rgb(165, 42, 73);
    }
    30% {
        background-color: rgb(255, 218, 193);
    }
    31% {
        background-color: rgb(165, 42, 73);
    }
    39% {
        background-color: rgb(165, 42, 73);
    }
    40% {
        background-color: rgb(255, 218, 193);
    }
    41% {
        background-color: rgb(165, 42, 73);
    }
    49% {
        background-color: rgb(165, 42, 73);
    }
    50% {
        background-color: rgb(255, 218, 193);
    }
    51% {
        background-color: rgb(165, 42, 73);
    }
    59% {
        background-color: rgb(165, 42, 73);
    }
    60% {
        background-color: rgb(255, 218, 193);
    }
    61% {
        background-color: rgb(165, 42, 73);
    }
    90% {
        background-color: rgb(165, 42, 73);
    }
    91% {
        background-color: rgb(255, 218, 193);
    }
    92% {
        background-color: rgb(165, 42, 73);
    }
}

@keyframes poop {
    0% {
        background-color: greenyellow;
    }
    2% {
        background-color: rgb(255, 238, 0);
    }
    4% {
        background-color: greenyellow;
    }
    8% {
        background-color: greenyellow;
    }
    10% {
        background-color: rgb(225, 255, 180);
    }
    12% {
        background-color: greenyellow;
    }
    20% {
        background-color: greenyellow;
    }
    22% {
        background-color: rgb(255, 0, 0);
    }
    24% {
        background-color: greenyellow;
    }
    30% {
        background-color: greenyellow;
    }
    38% {
        background-color: greenyellow;
    }
    40% {
        background-color: rgb(106, 112, 41);
    }
    42% {
        background-color: greenyellow;
    }
    58% {
        background-color: greenyellow;
    }
    50% {
        background-color: rgb(119, 101, 42);
    }
    51% {
        background-color: greenyellow;
    }
    58% {
        background-color: greenyellow;
    }
    60% {
        background-color: rgb(148, 143, 67);
    }
    62% {
        background-color: greenyellow;
    }
    68% {
        background-color: greenyellow;
    }
    70% {
        background-color: rgb(38, 0, 255);
    }
    72% {
        background-color: greenyellow;
    }
    78% {
        background-color: greenyellow;
    }
    80% {
        background-color: rgb(84, 122, 65);
    }
    82% {
        background-color: greenyellow;
    }
    88% {
        background-color: greenyellow;
    }
    90% {
        background-color: rgb(255, 0, 0);
    }
    92% {
        background-color: greenyellow;
    }
    100% {
        background-color: greenyellow;
    }
}

@keyframes click {
    0%, 15%, 30%, 45%, 60%, 75%, 90% {
        background-color: rgb(0, 255, 0);
    }
    5%, 20%, 35%, 50%, 65%, 80%, 95% {
        background-color: red;
    }
    10%, 25%, 40%, 55%, 70%, 85%, 100% {
        background-color: blue;
    }
}
@keyframes click2 {
    0%, 15%, 30%, 45%, 60%, 75%, 90% {
        background-color: rgb(32, 180, 32);
    }
    5%, 20%, 35%, 50%, 65%, 80%, 95% {
        background-color: rgb(199, 33, 33);
    }
    10%, 25%, 40%, 55%, 70%, 85%, 100% {
        background-color: rgb(34, 34, 204);
    }
}
@keyframes click3 {
    0%, 15%, 30%, 45%, 60%, 75%, 90% {
        background-color: rgb(45, 170, 45);
    }
    5%, 20%, 35%, 50%, 65%, 80%, 95% {
        background-color: rgb(165, 43, 43);
    }
    10%, 25%, 40%, 55%, 70%, 85%, 100% {
        background-color: rgb(34, 34, 134);
    }
}
@keyframes click4 {
    0%, 15%, 30%, 45%, 60%, 75%, 90% {
        background-color: rgb(29, 109, 29);
    }
    5%, 20%, 35%, 50%, 65%, 80%, 95% {
        background-color: rgb(104, 23, 23);
    }
    10%, 25%, 40%, 55%, 70%, 85%, 100% {
        background-color: rgb(25, 25, 107);
    }
}
@keyframes click5 {
    0%, 15%, 30%, 45%, 60%, 75%, 90% {
        background-color: rgb(21, 82, 21);
    }
    5%, 20%, 35%, 50%, 65%, 80%, 95% {
        background-color: rgb(90, 20, 20);
    }
    10%, 25%, 40%, 55%, 70%, 85%, 100% {
        background-color: rgb(17, 17, 66);
    }
}
@keyframes click6 {
    0%, 15%, 30%, 45%, 60%, 75%, 90% {
        background-color: rgb(29, 187, 129);
    }
    5%, 20%, 35%, 50%, 65%, 80%, 95% {
        background-color: rgb(206, 86, 31);
    }
    10%, 25%, 40%, 55%, 70%, 85%, 100% {
        background-color: rgb(102, 31, 196);
    }
}
@keyframes click7 {
    0%, 15%, 30%, 45%, 60%, 75%, 90% {
        background-color: rgb(95, 138, 95);
    }
    5%, 20%, 35%, 50%, 65%, 80%, 95% {
        background-color: rgb(169, 117, 117);
    }
    10%, 25%, 40%, 55%, 70%, 85%, 100% {
        background-color: rgb(107, 107, 156);
    }
}
@keyframes click8 {
    0%, 15%, 30%, 45%, 60%, 75%, 90% {
        background-color: rgb(162, 255, 162);
    }
    5%, 20%, 35%, 50%, 65%, 80%, 95% {
        background-color: rgb(255, 158, 158);
    }
    10%, 25%, 40%, 55%, 70%, 85%, 100% {
        background-color: rgb(165, 165, 255);
    }
}
@keyframes click9 {
    0%, 15%, 30%, 45%, 60%, 75%, 90% {
        background-color: rgb(41, 53, 41);
    }
    5%, 20%, 35%, 50%, 65%, 80%, 95% {
        background-color: rgb(90, 60, 60);
    }
    10%, 25%, 40%, 55%, 70%, 85%, 100% {
        background-color: rgb(58, 58, 82);
    }
}

@media (max-width: 500px) {
    #proj-nav-item {
        font-size: 15px;
        padding: 5px 0px 5px 0px;
    }
}

