
/* 
font-family: 'Anton', sans-serif;
font-family: 'Libre Barcode 39', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Shizuru', cursive;
font-family: 'Source Code Pro', monospace;
font-family: 'Syne Mono', monospace; */

a {
    color: black;
}
a:hover {
    color: palevioletred;
}

#nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 5px;
    z-index: 100;
    background-image: linear-gradient(red, blue, green);
    border-width: 5px 10px 0px 0px;
    border-style: solid;
    border-color: rgb(72, 11, 80);
    justify-content: space-around;
}

#nav-link {
    color: white;
    padding: 5px;
    border: 0px solid black;
    text-decoration: none;
    font-family: 'Syne Mono', monospace;
}

#img-container {
    gap: 10px;
    width: 100%;
    z-index: 50;
    display: grid;
    grid-template-rows: repeat(4 25%);
    grid-template-columns: repeat(5 20%);
    border: 0px solid black;
}

.scatter-img {
    width: 100%;
    opacity: 85%;
    position: relative;
}
.error {
    width: 100%;
}

#footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    margin: 0px;
    background-color: rgb(223, 128, 188);
    text-align-last: center;
}
#foot-link {
    color: black;
    text-decoration: none;
}

#russian {
    top: 0px;
    left: 0px;
    position: fixed;
    margin: 0px 0px 0px 89px;
    font-size: 18px;
    filter: opacity(10%);
    z-index: 0;
}

#home-body {
    z-index: 0;
    background-color: rgb(0, 0, 114);
    animation-name: flash;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#warning {
    background-color: rgb(141, 0, 0);
    font-size: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: opacity(0%);
    animation-name: warning;
    animation-duration: 6s;
    animation-iteration-count: 1;
    z-index: -10;
}
#warn-text {
    padding: 200px;
}

/* animations */

@keyframes warning {
    0% {
        filter: opacity(100%);
        z-index: 999;
    }
    50% {
        filter: opacity(100%);
        z-index: 999;
    }
    100% {
        filter: opacity(0%);
        z-index: 999;
    }
}

@keyframes flash {
    0% {
        background-color: rgb(0, 0, 114);
    }
    49% {
        background-color: rgb(0, 0, 114);
    }
    50% {
        background-color: rgb(184, 184, 255);
    }
    51% {
        background-color: rgb(0, 0, 114);
    }
    74% {
        background-color: rgb(0, 0, 114);
    }
    75% {
        background-color: rgb(184, 184, 255);
    }
    76% {
        background-color: rgb(0, 0, 114);
    }
}

@keyframes back-img {
    0% {
        filter: brightness(100%);
    }
    10% {
        filter: brightness(100%);
    }
    11% {
        filter: brightness(200%);
    }
    12% {
        filter: brightness(100%);
    }
    20% {
        filter: brightness(100%);
    }
    21% {
        filter: brightness(200%);
    }
    22% {
        filter: brightness(100%);
    }
    30% {
        filter: brightness(100%);
    }
    31% {
        filter: brightness(200%);
    }
    32% {
        filter: brightness(100%);
    }
    40% {
        filter: brightness(100%);
    }
    41% {
        filter: brightness(200%);
    }
    42% {
        filter: brightness(100%);
    }
    50% {
        filter: brightness(100%);
    }
    51% {
        filter: brightness(200%);
    }
    52% {
        filter: brightness(100%);
    }
    60% {
        filter: brightness(100%);
    }
    61% {
        filter: brightness(200%);
    }
    62% {
        filter: brightness(100%);
    }
    70% {
        filter: brightness(100%);
    }
    71% {
        filter: brightness(200%);
    }
    72% {
        filter: brightness(100%);
    }
    80% {
        filter: brightness(100%);
    }
    81% {
        filter: brightness(200%);
    }
    82% {
        filter: brightness(100%);
    }
    90% {
        filter: brightness(100%);
    }
    91% {
        filter: brightness(200%);
    }
    92% {
        filter: brightness(100%);
    }
}

@keyframes cloves {
    0%, 65%, 69%, 98% {
        background-color: rgb(85, 53, 112);
    }
    67%, 100% {
        background-color: rgb(117, 83, 144);
    }
}

@keyframes about {
    0% {
        background-color: rgb(230, 154, 84);
    }
    45% {
        background-color: rgb(255, 123, 0);
    }
    50%{
        background-color: black;
    }
    55% {
        background-color: rgb(255, 123, 0);
    }
    60% {
        background-color: rgb(255, 30, 0);
    }
    61%{
        background-color: rgb(0, 34, 255);
    }
    65% {
        background-color: rgb(255, 0, 0);
    }
    69% {
        background-color: rgb(255, 123, 0);
    }
    70% {
        background-color: black;
    }
    75% {
        background-color: rgb(17, 0, 255);
    }
}

@keyframes bonk {
    0% {
        background-color: rgb(127, 255, 251);
    }
    20% {
        background-color: rgb(16, 34, 34);
    }
    45% {
        background-color: rgb(193, 255, 253);
    }
    50% {
        background-color: rgb(127, 255, 251);
    }
    60% {
        background-color: rgb(255, 0, 0);
    }
    61% {
        background-color: rgb(255, 152, 152);
    }
    62% {
        background-color: rgb(255, 0, 0);
    }
    65% {
        background-color: rgb(0, 26, 255);
    }
    66% {
        background-color: rgb(201, 206, 255);
    }
    67% {
        background-color: rgb(0, 26, 255);
    }
    70% {
        background-color: rgb(0, 255, 17);
    }
    71% {
        background-color: rgb(197, 255, 201);
    }
    72% {
        background-color: rgb(0, 255, 17);
    }
    75% {
        background-color: rgb(127, 255, 251);
    }
    76% {
        background-color: rgb(27, 69, 255);
    }
    77% {
        background-color: rgb(255, 127, 127);
    }
    80% {
        background-color: rgb(34, 255, 0);
    }
    81% {
        background-color: rgb(201, 255, 207);
    }
    82% {
        background-color: rgb(34, 255, 00);
    }
    90% {
        background-color: rgb(241, 255, 255);
    }
}

@keyframes img {
    0% {
        filter: opacity(100%);
    }
    49% {
        filter: opacity(100%);
    }
    50% {
        filter: opacity(0%);
    }
    54% {
        filter: opacity(0%);
    }
    55% {
        filter: opacity(100%);
    }
    69% {
        filter: opacity(100%);
    }
    70% {
        filter: opacity(0%);
    }
    74% {
        filter: opacity(0%);
    }
    75% {
        filter: opacity(100%);
    }
    89% {
        filter: opacity(100%);
    }
    90% {
        filter: opacity(0%);
    }
    94% {
        filter: opacity(0%);
    }
    95% {
        filter: opacity(100%);
    }
}


/* contact page */
#cmain {
    width: 100%;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Syne Mono', monospace;
}
.c-all {
    gap: 25px;
    top: 75px;
    width: 45%;
    padding: 30px 30px 30px 30px;
    position: relative;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0 5px 10px rgb(52, 37, 69);
    background-color: transparent;
}
.contact-img {
    width: 50%;
    border-radius: 15%;
    box-shadow: 0 5px 10px rgb(52, 37, 69);
}
.contact-head {
    font-size: 35px;
    padding: 0px 0px 10px 0px;
}
.contact-info {
    font-size: 18px;
}
.contact-head, .contact-info {
    border-radius: 5px;
    animation-name: cloves;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-color: rgb(85, 53, 112);
}
.navLinks {
    z-index: 10;
    padding: 15px;
    color: rgb(238, 220, 255);
    text-decoration: none;
}
.navLinks:hover {
    color: rgb(189, 151, 211);
}

.about-head {
    font-size: 35px;
}
.about-text {
    font-size: 18px;
}

#contact-nav {
    gap: 11.5%;
    display: flex;
    z-index: 10;
    font-weight: 600;
    font-size: 25px;
    font-style: italic;
    flex-direction: row;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#contact-body {
    background-color: rgb(85, 53, 112);
    animation-name: cloves;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#lyrics {
    top: 0px;
    left: 0px;
    z-index: 0;
    font-size: 20px;
    position: fixed;
    font-size: 27.5px;
    filter: opacity(2%);
}

@media (prefers-color-scheme: dark) {
    .c-all, .contact-img {
        color: white;
        box-shadow: 0 5px 10px rgb(24, 16, 33);
    }
    #contact-body {
        background-color: rgb(42, 24, 58);
    }
    #lyrics {
        color: white;
        filter: opacity(1%);
    }

    @keyframes cloves {
        0%, 65%, 69%, 98% {
            background-color: rgb(42, 24, 58);
        }
        67%, 100% {
            background-color: rgb(60, 38, 78);
        }
    }
}

/* bonkers */
#bonk-body {
    background-color: rgb(127, 255, 251);
    animation-name: bonk;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

#bonk-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: blueviolet;
    text-decoration: none;
}

#title {
    background-color: blueviolet;
    margin: 0px;
    padding: 10px;
    font-size: 30px;
}
#title:hover {
    background-color: rgb(220, 182, 255);
}

#dl-icon {
    position: absolute;
    top: 100px;
    left: 1000px;
    width: 3%;
    z-index: 999;
    border-radius: 100%;
    border: 5px solid blue;
}
#dl-icon2 {
    position: absolute;
    top: 175px;
    left: 50px;
    width: 3%;
    z-index: 999;
    border-radius: 100%;
    border: 5px solid blue;
}
#dl-icon3 {
    position: absolute;
    top: 250px;
    left: 1000px;
    width: 3%;
    z-index: 999;
    border-radius: 100%;
    border: 5px solid blue;
}
#dl-icon4 {
    position: absolute;
    top: 325px;
    left: 50px;
    width: 3%;
    z-index: 999;
    border-radius: 100%;
    border: 5px solid blue;
}
#dl-icon5 {
    position: absolute;
    top: 400px;
    left: 1000px;
    width: 3%;
    z-index: 999;
    border-radius: 100%;
    border: 5px solid blue;
}

#emo-1 {
    width: 10%;
    position: absolute;
    right: 50px;
    bottom: 144px;
}
#emo-2 {
    width: 10%;
    position: absolute;
    top: 76px;
    left: 10px;
}
#emo-3 {
    width: 10%;
    position: absolute;
    top: 576px;
    left: 410px;
}
#emo-4 {
    width: 30%;
    position: absolute;
    top: 276px;
    left: 560px;
}
#emo-5 {
    width: 20%;
    position: absolute;
    top: 126px;
    left: 305px;
}
#emo-6 {
    width: 20%;
    position: absolute;
    top: 76px;
    right: 110px;
}


@media (max-width: 500px) {
    #nav {
        color: red;
    }
    body {
        width: 100%;
        height: 50%;
    }
    #grid-container {
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 20% 20% 20% 20% 20%;
    }
    #img-9 {
        grid-column: 1/2;
        width: 500%;
        position: relative;
        top: 600px;
    }
    #img-4, #img-5, #img-6, #img-7, #img-8 {
        width: 10%;
        position: relative;
        right: 450px;
    }
    #russian {
        font-size: 5px;
    }
}