@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Mystery+Quest&display=swap');

#music {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-row: 1/3;
    justify-content: center;
}

#main-music {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#blurbs p {
    width: 50%;
    padding: 10px;
    margin-right: 10px;
    background-color: rgba(240, 181, 220, 0.582);
    font-family: "Mystery Quest", serif;
    font-size: 1.3em;
    box-shadow: 8px 8px 12px rgb(188, 188, 188)
}

.stars-gif {
    width:10%;
    margin:0px;
    padding:0px;
    transform: rotate(270deg);
}

.center-item {
    margin-left: 30px;
    margin-bottom: 30px;
    width: 25%;
    filter: opacity(92%);
    border: 8px ridge rgb(238, 153, 191);
    border-radius: 22px !important;
}

#blurbs {
    margin-bottom: 10px;
    justify-content: center;
    display: flex;
    flex-direction: row;
}