@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Mystery+Quest&display=swap');


#main {
    width:80%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 20%;
    justify-self: center;
    padding: 15px;
    color: rgb(50, 32, 45);
    font-family: "Mystery Quest", serif;
    background-color: rgba(255, 194, 229, 0.359);
    animation-name: hovering;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
}
#left {
    width: 40%;
    border:3px black;
}
#right {
    border:3px black;
    gap: 5px;
}

#blurb-box {font-family: "Mystery Quest", serif;}

#blurb-box, #links-box, #welcome, #change-log {
    padding: 10px;
    border: 8px ridge rgba(238, 153, 191, 0.6);
    background-color: rgba(255, 192, 220, 0.5);
    box-shadow: 0px 0px 12px 4px rgb(123, 72, 95);
}

#change-log {margin-top: 20px;}


.link {
    margin: 10px 5px 10px 5px;
    color: black;
}

.side-img {
    align-self: flex-end;
    justify-content: right;
    width: 90%;
    border: 8px ridge rgba(238, 153, 191, 0.6);
}

.flex-item {width: 25%;}

.glow {
    margin-bottom: 30px;
    box-shadow: 0px 0px 12px 6px rgb(123, 72, 95);
}

p {
    margin: 0px;
    padding: 0px 0px 10px 0px;
}

.konata {
    width: 15%;
    position: fixed;
    bottom: -18px;
    right: 0px;
    z-index: 1;
}

@keyframes hovering {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}
