#grid {
    position: relative;
    top: 25px;
    display: grid;
    width: 600px;
    height: 600px;
    grid-gap: 0px;
    padding: 0px;
    margin: 0px;
    border: 8px solid black;
    grid-template-columns: 75px 75px 75px 75px 75px 75px 75px 75px;
    grid-template-rows: 75px 75px 75px 75px 75px 75px 75px 75px;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(255, 177, 203);
}

@media (max-width: 800px) {
    body {
        flex-direction: column;
    }
}

#rules{
    width: 300px;
    margin: 10px;
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-weight: 500;
}

table {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(234, 234, 234);
    position:  relative;
    height: 100px;
    margin: 10px;
    top: 15px;
}

table, tr, th {
    border: 1px solid black;
}

.tbl-head {
    font-weight: 800;
    background-color: rgb(173, 173, 173);
}

.left-col {
    background-color: rgb(173, 173, 173);
}